/* Soluzione qui */



/* ---- Modalità Tablet (sopra i 768px) ---- */

@media screen and (min-width: 768px){
      
    #topbar{
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        font-size: 16px;
    }

    main {
        padding: 40px;
    }

    .recipe-name::after{
        content: "(Dolce Tradizionale)";
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li{
        max-width: calc(100% / 3);
        margin: 15px;
        padding: 10px

    }

    .btn{
        width: calc(100% / 5 );
    }

    .btn-orange { 
        width: 100%;
    }


    .ads{
        display: block;
    }

    .presentation .clearfix img {
        float: left;
        margin: 5px;
    }

}





/* ---- Modalità Desktop (sopra i 992px) ---- */

@media screen and (min-width: 992px) {

    #topbar{
        display: flex;
        justify-content: flex-start;
        padding: 10px;
        font-size: 18px;
    }

    main {
        padding: 40px;
    }
    
    .btn-orange { 
        width: 100%;
    }
    
    .recipe-card{
        display: flex;
        width: 100%;
    }

    .recipe-video{
        width: 70%;
        max-height: 450px;
    }

    .recipe-info{
        max-width: 30%;
    }

    .well{
        max-width: 100%;
    }

    .quick-notes ul{
        display: flex;
        flex-direction: column;
        
    }

    .quick-notes ul li{
        max-width: 100%;
        padding: 0;  
        
    }

    .btn .label{
        display: inline;

    }

    .social-networks {
        margin-bottom: 30px;
    }

    .ads {
        display: inline;
    }

    .presentation .clearfix img {
        float: left;
        margin: 5px;
    }

    footer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    footer address{
        text-align: left;
    }
}