/* Soluzione qui */



/* ---- Modalità Tablet (sopra i 768px) ---- */

@media screen and (min-width: 768px){
    
    
    #topbar{
        display: flex;
        justify-content: flex-start;
        padding: 10px;
    }

    main {
        padding: 40px;
    }

    .recipe-name::after{
        content: "(Dolce Tradizionale)";
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li{
        max-width: calc(100% / 3);
        margin: 15px;
        padding: 10px

    }

    .btn{
        width: calc(100% / 5 );
    }

    .ads{
        display: block;
    }

    .presentation .clearfix img {
        float: left;
        margin: 5px;
    }

}





/* ---- Modalità Desktop (sopra i 992px) ---- */

@media screen and (min-width: 992px) {

    
    
}